.FilterHeader {
  flex: 0 0 auto;
}

.actionTypeAndFilterByRow {
  display: flex;
  padding: .5rem;
}

.filterByOptions {
  font-size: .7rem;
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  margin-left: .5rem;
}

.actionType {
  flex: 1 1 auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.filterByLabel {
  flex: 0 0 auto;
}

.label {
  margin-left: .5em;
  font-weight: normal;
  flex: 0 0 auto;
}

.filterContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: .5rem;
  font-size: .65rem;
  text-transform: uppercase;
  font-weight: bold;
}

.input {
  flex: 0 0 100%;
  border-radius: .25em;
  line-height: 2rem;
  padding: 0 .5rem;
  border: none;
}
.input:focus {
  outline: none;
}
