body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  color: #2196f3;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.Application {
  width: 70%;
}

.Button {
  display: inline-block;
  padding: .5em .75em;
  border: none;
  border-radius: .35em;
  font-size: .85em;
  font-weight: bold;
  background-color: #2A2F3A;
  color: white;
  margin-right: .5em;
  margin-bottom: .5em;
  cursor: pointer;
}
.Button:hover {
  background-color: #000000;
}

.update {
  color: #6FB3D2;
  margin-right: .5em;
}
.array {
  color: #D381C3;
}
.object {
  color: #A1C659;
}
