.FilterableLogMonitor {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  min-width: 200px;
}

.filterableStates {
  overflow-y: scroll;
  flex: 1;
}
